{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 2 versions", ">5%"]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-styled-components"
  ]
}
